<div>
    <div>
        <h4>Details</h4>
        <div>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary" (click)="show('nodes')">
                    <input type="radio" name="nodes-relations-options" id="option1" autocomplete="off"> Node types
                </label>
                <label class="btn btn-primary" data-toggle="button" (click)="show('relations')">
                    <input type="radio" name="nodes-relations-options" id="option2" autocomplete="off"> Relation types
                </label>
            </div>
            <div style="float: right;">
                <button class="btn btn-outline-primary btn-sm" type="button" data-target="#details-table-container" data-toggle="collapse"
                    data-group-id="parent" data-role="expander" *ngIf="toShow != undefined">show/hide</button>
            </div>
        </div>
    </div>
    <br />

    <div class="table-responsive">
        <div class="collapse show" id="details-table-container" aria-expanded="true">
            <table class="table table-striped table-hover" *ngIf="toShow == 'nodes'">
                <thead class="thead thead-dark">
                    <tr>
                        <th>nt</th>
                        <th>ntid</th>
                        <th>ntname</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let node of term.nodes" (click)="selectItem(node)">
                        <td> {{node.nt}} </td>
                        <td> {{node.ntid}} </td>
                        <td> {{node.ntname}} </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-striped table-hover" *ngIf="toShow == 'relations'">
                <thead class="thead thead-dark">
                    <tr>
                        <th>rt</th>
                        <th>rtid</th>
                        <th>rtname</th>
                        <th>rtgpname</th>
                        <th>rthelp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let relation of term.relations" (click)="selectItem(relation)">
                        <td> {{relation.rt}} </td>
                        <td> {{relation.rtid}} </td>
                        <td> {{relation.rtname}} </td>
                        <td> {{relation.rtgpname}} </td>
                        <td> {{relation.rthelp}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-term-collections (searchEvent)="searchTerm($event)" [term]="term"></app-term-collections>